body {
	background-image: url("bg.png");
	background-attachment: fixed;
}

p {
	font-family: cantarell;
	font-size: 20px;
	text-align: justify;
}

h1 {
	font-family: Iosevka;
	font-size: 50px;
	text-align: center;
}
